{% extends 'layout.html' %}

{% block body %}

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand nav-home" href="/">What Are The Odds?</a>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav nav-home">
        <li><a href="/">Home</a></li>
        <li><a href="/rank">Hotspots</a></li>
      </ul>
    </div>
  </nav>
  <div class='row background'>
    <div class='col-md-12 form-height'>
      <p class='question'>
        Check Your Odds
      </p>
      <p class='error'>
        {{ error || '' }}
      </p>
      <form class='search-form' action='/address'
            method='GET'>
        <div class='search-bar'>
          <input class='search-text' type='text'
                 name='address' placeholder='Address'
                 autocomplete='off'>
          <button class='search-btn' type='submit'>
            <span class='glyphicon glyphicon-search'></span>
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
