<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>How Safe Is Your House?!?!?</title>
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css'
          rel='stylesheet' />
    <link href='/static/styles.css'
          rel='stylesheet' />
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </nav>
    <div id='container'>
      {% block body %}
      {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
