<!DOCTYPE html>
<html>
  <head>
    <title>What Are The Odds?</title>
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css'
          rel='stylesheet' />
    <link href='/static/css/styles.css'
          rel='stylesheet' />
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/static/js/base.js'></script>

    {% block head %}
    {% endblock %}

  </head>
  <body>
    <div id='container'>

      {% block body %}
      {% endblock %}

    </div>

    {% block scripts %}
    {% endblock %}

  </body>
</html>
