{% extends 'layout.html' %}

{% block head %}
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD4RhZKP0SgIHqX5CLbBZR4Au1NXs89AYQ'>
  </script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel.js">
  </script>
{% endblock %}

{% block body %}
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">What Are The Odds?</a>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/rank">Hotspots</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
  <div class='row percent-contain'>
    <div class='col-md-12'>
      <div class='percent-block'>
        <p class='percent-question'>
          What are the chances of a meteor hitting you?</p>
        <p class='percent'>
          By distance: {{ percentageByDistance * 100 }}%
        </p>
        <p class='percent'>
          Accounting for mass: {{ percentageByMass * 100 }} %
        </p>
      </div>
    </div>
  </div>
  <div class='row map-contain'>
    <div class='col-md-12 map-height'>
      <div id='map-geographic-canvas' class='map'></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  var MAP_GEOGRAPHIC_CANVAS_ID = 'map-geographic-canvas';
  var MAX_METEOR_DISPLAY_SIZE = 50000;
  var MIN_METEOR_DISPLAY_SIZE = 5000;

  google.maps.event.addDomListener(window, 'load', function() {
    var geographic_map = new google.maps.Map(
      document.getElementById(MAP_GEOGRAPHIC_CANVAS_ID),
      {
        center: new google.maps.LatLng({{ lat }}, {{ lng }}),
        streetViewControl: false,
        zoom: 8
      }
    );
    var meteors = {{ JSON.stringify(meteors) }};
    for (var meteor in meteors) {
      var meteorCircle = new google.maps.Circle({
        strokeColor: meteors[meteor]['color'],
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: meteors[meteor]['color'],
        fillOpacity: 0.35,
        map: geographic_map,
        center: {
          lat: parseFloat(meteors[meteor]['latitude']),
          lng: parseFloat(meteors[meteor]['longitude'])
        },
        radius: bound(meteors[meteor]['mass'],
                      MIN_METEOR_DISPLAY_SIZE,
                      MAX_METEOR_DISPLAY_SIZE)
      });
      var mapLabel = new MapLabel({
        text: meteor,
        position: new google.maps.LatLng(parseFloat(meteors[meteor]['latitude']), parseFloat(meteors[meteor]['longitude'])),
        map: geographic_map,
        fontSize: 20,
        fontColor: "rgb(106, 0, 137)",
        align: 'right'
    });
    }
    var marker = new google.maps.Marker({
      position: {
        lat: {{ lat }},
        lng: {{ lng }}
      },
      map: geographic_map
    });
  });
</script>
{% endblock %}
